<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="home_main">
  <div class="heading">
<h3>The Todo Manager</h3>
  </div>
  <hr>
<p class="command">you have to be signed-in to start managing your todos</p>

<div class="choice">
<div class="signup">
<p class="signup_heading">
New to the Todo_Manager?
</p>
<%= link_to "Sign-up for a new account", new_user_path, class:"signuplink" %>
</div>
<div class="signin">
<p class="signin_heading">Already have account?</p>
<%= link_to "Sign-in", new_session_path, class:"signinlink" %>

</div>
</div>
  </div>
</body>
</html>
