 <div class="main_div">
    <section>
      <h1 class="todo_heading">My To-do List</h1>
      <div>
        <%= form_with(url:"/todos",method:"post") do %>
          <input class="input_text" type="text" name="todo_text" placeholder="What's next?" id="">
          <input class="input_date" type="date" name="due_date1" value="" id="date">
          <input type="submit" value="Add" class="form_btn">
        <%end%>
      </div>
    </section>



    <section>
<%= render partial:"todos_section", locals:{type:"Overdue",todo:@todo.overdue.notcompleted,show_date:true}%>
<%= render partial:"todos_section", locals:{type:"Today",todo:@todo.do_today,show_date:false}%>
<%= render partial:"todos_section", locals:{type:"Later",todo:@todo.do_later,show_date:true}%>
    </section>
  </div>
